@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular");
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Bold");
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 15, 26, 0.59)), to(rgba(17, 17, 46, 0.46))) center center/cover fixed, url("https://images.unsplash.com/photo-1506899686410-4670690fccef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwMzQzOX0") center center no-repeat fixed;
  background: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%) center center/cover fixed, url("https://images.unsplash.com/photo-1506899686410-4670690fccef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwMzQzOX0") center center no-repeat fixed;
  background-size: cover;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.header {
  height: 124px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 225px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.6rem;
  font-weight: 700;
}

.header__toggles_update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: url(../img/refresh.png) no-repeat center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.header__toggles_update:hover {
  background-color: rgba(250, 255, 253, 0.65);
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.repeat {
  width: 25px;
  height: 25px;
  background: url(../img/vector.png) no-repeat center;
  background-size: contain;
}

.header__toggles_lang {
  position: relative;
  width: 71px;
  height: 44px;
}

.main-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(179, 187, 184, 0.678);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.main-lang:hover {
  background-color: rgba(250, 255, 253, 0.65);
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  color: #fff;
}

.arrow {
  width: 15px;
  height: 15px;
  background: url(../img/arrow.png) no-repeat center;
  background-size: contain;
  -webkit-transition: .4s;
  transition: .4s;
}

.arrow-rotate {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: .4s;
  transition: .4s;
}

.lang-ru,
.lang-en,
.lang-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  background-color: rgba(109, 105, 105, 0.507);
  width: 71px;
  height: 44px;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  height: 0;
  opacity: 0;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.lang-ru:hover,
.lang-en:hover,
.lang-by:hover {
  background-color: rgba(250, 255, 253, 0.65);
  color: #fff;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.lang-chosen,
.temp-chosen {
  background-color: rgba(179, 187, 184, 0.678) !important;
  color: #fff;
}

.lang-ru {
  top: 44px;
}

.lang-en {
  top: 88px;
}

.lang-by {
  top: 132px;
}

.lang-appear {
  height: 100%;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.header__measuring-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 44px;
}

.measuring-scale_celsius,
.measuring-scale_fahr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  background-color: rgba(109, 105, 105, 0.507);
  border-radius: 5px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.measuring-scale_celsius:hover,
.measuring-scale_fahr:hover {
  background-color: rgba(250, 255, 253, 0.65);
  color: #fff;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.search-field {
  width: 255px;
  height: 44px;
  border-radius: 5px;
  background-color: rgba(109, 105, 105, 0.507);
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  color: #fff;
  outline: none;
}

input[type="search"],
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.863);
}

input[type="search"],
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.863);
}

input[type="search"],
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.863);
}

input[type="search"],
::placeholder {
  color: rgba(255, 255, 255, 0.863);
}

.search-button {
  margin-left: -3px;
  width: 120px;
  height: 44px;
  border-radius: 5px;
  background-color: rgba(182, 182, 182, 0.712);
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  outline: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #b6b6b6;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  height: 560px;
}

.main__forecast {
  background-color: #fff;
  width: 60%;
  height: 100%;
}

.main__map {
  position: relative;
  width: 38%;
  height: 100%;
}

#map {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: 0;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.form-wrapper {
  position: relative;
}

.error-field {
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 0;
  width: 365px;
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.5rem;
  background-color: rgba(109, 105, 105, 0.507);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.863);
  -webkit-box-shadow: inset 0px 0px 10px rgba(248, 1, 1, 0.5);
          box-shadow: inset 0px 0px 10px rgba(248, 1, 1, 0.5);
  text-align: center;
  z-index: 1;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

.error-show {
  opacity: 1;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}
/*# sourceMappingURL=style.css.map */